* {
    font-size: 1em;
}

/* html {
    background: url(images/moon.jpg) no-repeat;
} */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    width: 100%;
    border-bottom: 1px solid #E2E8F0;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #a3afc0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #a3afc0;
}

.nav-link:hover{
    color: var(--color-1);
    transition: .5s ease-in;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--color-1);
}

.summary {
    background: url(images/code.jpg) no-repeat;
    background-position: center 0px;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.about {
    width: 100vw;
    height: 50vh;
    display: flex;
    margin: 0 4%;
}

.image-container {
    display: flex;
    width: 50%;
    height: 100%;
    background: url(images/My\ project-1\ \(1\).png) no-repeat;
    background-position: center -30px;
    background-size: auto 100%;
}

.content {
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    flex-direction: column;
    position: relative;
}

.content>button {
    width: 30%;
    height: 10%;
    font-size: 1rem;
    position: absolute;
    bottom: 8%;
    left: 50%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content>button:hover {
    cursor: pointer;
    background-color: var(--dark);
}

.h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 10%;
}

.services-container{
    width: 100vw;
    height: 60vh;
    display: flex;
}

.services{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info{
    font-size: 1.2rem;
    margin: 0 4%;
}

.bi{
    font-size: 2rem;
}

.project {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-img {
    width: 30.3%;
    margin-right: 2%;
    margin-bottom: 4%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-img>img {
    max-width: 100%;
    height: 100%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.text {
    /* background-color: var(--bg-color); */
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.project-img:hover img {
    opacity: 0.3;
    transition: .20s ease-in;
}

.project-img:hover .middle {
    opacity: 1;
    transition: .20s ease-in;
}

.contact-info{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-info{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}

.address-info > h1{
    font-size: 1.8rem;
}

.address-info > p > a{
    text-decoration: underline;
}
.form-input{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input > form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-input{
    width: 95%;
    height: 10%;
    margin-top: 5%;
}
.input{
    width: 95%;
    height: 10%;
    margin-top: 5%;
}

.form-input > form > input[type = submit]{
    width: 95%;
    height: 15%;
    margin-top: 5%;
    background-color: var(--dark);
    color: var(--main-bg-color);
}

.form-input > form > input[type = submit]:hover{
    cursor: pointer;
    background-color: var(--text-color);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin-top: 4%;
}

.footer-text{
    margin-top: 2%;
}

.footer-logo{
    margin-top: 2%;
    display: flex;
}

.logo-container{
    display: flex;
}

.logo{
    width: 100%;
    height: 10%;
    border: 1px solid transparent;
    border-radius: 50%;
}

.icon-green{
    font-size: 2rem;
    border: 1px solid transparent;
    border-radius: 50%;
    color: var(--dark);
}

.icon-green:hover{
    opacity: 0.5;
}

.dark > .bi{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 10;
}

.dark > .bi:hover{
    cursor: pointer;
    opacity: 0.8;
}

.dark-mode{
    background-color: #101010;
    color: var(--light-color);
    transition: all 0.6s ease-in-out;
}


@media screen and(min-width: 1024px){
    .header{
        width: 100%;
    }
    .about, .summary, .services-container, .project, .contact-info{
        width: 100vw;
    }
}

@media screen and (max-width: 1023px){
    .project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-img{
        width: 90%;
        height: 33.3%;
        margin-top: 2%;
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .summary {
        width: 100vw;
        height: 50vh;
    }

    .about{
        height: 100vh;
        flex-direction: column;
        font-size: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 90%;
        height: 45%;
        font-size: 1rem;
    }

    .content > button:hover{
        background-color: none;
    }
    
    .image-container{
        width: 100%;
        height: 55%;
    }

    .services-container{
        flex-direction: column;
    }

    .services{
        width: 100%;
        height: 33.3%;
    }

    .project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-img{
        width: 100%;
        height: 33.3%;
        margin-top: 2%;
    }

    .contact-info{
        flex-direction: column;
        height: 75vh;
    }

    .address-info{
        width: 100%;
    }

    .form-input{
        width: 100%;
    }

    .icon-green{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.2rem;
    }
}